@for (item of questionInterface; track item.id; let i = $index) {
  <h2>{{ item.text }}</h2>
  @for (answer of item.answers; track answer.text) {
    <label>
      <input
        type="radio"
        [value]="answer.score"
        name="question{{ item.id }}"
        [(ngModel)]="userAnswers[i]"
      />
      {{ answer.text }}
    </label>
  }
}
<button class="button" (click)="total = getTotalScore()">Show Result</button>
@if (total > 0) {
  <h2>Total Score: {{ total }}</h2>
  @if (warningMessage) {
    <p style="color: red">{{ warningMessage }}</p>
  }
}
